*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(236, 233, 43);
}
.principal{
    display: flex;
    justify-content: space-around;
}

.nombre{
    margin-top:1.5%;
    color: rgb(11, 66, 121);
}
.search{
    background-color: white;
    border: 2px solid rgb(11, 66, 121);
    border-radius: 5px;
    font-size: 15px;
    width: 350px;
    margin-top: 10%;
}
.tecnoOfertas{
    cursor: pointer;
    padding: 0 30px;
    display: flex;
    gap: 8px;
}
.logosOferta{
    height: 30px;
    margin-top: 35px;
}
h4{
    display: flex;
    align-items: center;
    
}
.btnsPrincipal{
    display: flex;
    height: 20px;
    justify-content: space-around;
    padding:0 30px 50px ;
}
.btn{
    border: none;
    background-color: lightpink;
    cursor: pointer;
}
.btnCarrito{
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.footer{
    display: flex;
    gap: 60px;
}
.btnsFooter{
    border: none;
    background-color: white;
    padding: 10px;
}
.footer{
    font-size: 15px;
    margin-left: 20px;
}
.info{
    font-size: 10px;
    color: grey;
    margin-left: 20px;
}
.imgFooter{
    margin-left: 20px;
}